@import 'tailwindcss';

@theme {
  --color-dim-white: #cccccc;
  --color-dimmer-white: #999999;
  --color-dark-gray: #333333;
  --color-arch-red: #600000;
}

@font-face {
  font-family: 'keyvirtue';
  src: url('/KeyVirtue.ttf') format('truetype');
}

:root {
  --foreground: #ffffff;
  --background: #000000;
}

body {
  color: var(--foreground);

  /* Background derived from https://css-pattern.com */
  --s: 70px;
  --c1: #000000;
  --c2: #181818;
  --_g:
    var(--c1) 0% 20%, var(--c2) 21% 30%, var(--c1) 31% 46%, var(--c2) 47% 56%, var(--c1) 57% 72%,
    var(--c2) 73% 82%, var(--c1) 81% 96%, #0000 97%;

  background:
    radial-gradient(50% 50% at 100% 0, var(--_g)),
    radial-gradient(50% 50% at 0 100%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)),
    radial-gradient(50% 50%, var(--_g)) calc(var(--s) / 2) calc(var(--s) / 2) var(--c1);

  background-size: var(--s) var(--s);
}

@layer base {
  a:link {
    @apply underline;
  }

  a:hover {
    @apply text-dim-white;
  }

  a:active {
    @apply text-dimmer-white;
  }

  article {
    @apply mb-8;
  }

  h1 {
    @apply text-xl my-4;
  }

  h1,
  h2 {
    @apply font-bold;
  }

  p,
  ul,
  h2 {
    @apply mb-2;
  }

  ul {
    @apply list-disc list-inside ml-4;
  }

  code {
    @apply bg-dark-gray;
  }

  #bandit-rip::before {
    content: 'B';
    @apply text-[1.4rem] align-middle;
  }

  #bandit-rip::after {
    content: ' RIP';
    @apply text-[1.4rem];
  }
}
